<app-header></app-header>
  <div class="container">
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Survey name</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveyDashboard | slice: (page-1) * pageSize : page * pageSize">
                <td>{{survey.name}}</td>
                <td >{{survey.details}}</td>
                <td id="buttons">
                    <button class="btn btn-primary mx-3" routerLink="/fill/{{survey.id}}">Take survey</button>
                </td>
            </tr>
        </tbody>
      </table>
      <ngb-pagination
      [(page)]="page"
        [pageSize]="pageSize"
          ></ngb-pagination>
</div>

