<app-header></app-header>
<div id="survey-holder">
  <div class="card" id="survey-container">
    <div class="container">
      <h2>
        <input id="survey-name" type="text" [(ngModel)]="survey.name" readonly>
      </h2>
      <h2>
        <p id="survey-details" type="text"  [(ngModel)]="survey.details"></p>
      </h2>

        <div class="card" id="question-card" *ngFor="let question of survey.questions; let i = index">
          <div class="card-content">
            <div class="mb-3" >
              <input class="col-6" type="text"  placeholder="Question {{i+1}}" #name="ngModel" name="Question{{i+1}}" [(ngModel)]="question.text"/>
            </div>
            <div *ngFor="let option of question.options; let j = index">
              <input type="text" placeholder="Option {{j+1}}" [(ngModel)]="option.text" #name="ngModel" name="option{{j+1}}"/>
            </div>
            <div>
              <button type="button" class="btn btn-success" md-fab (click)="survey.questions[i].addOption()">Add option</button>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-success" md-fab (click)="survey.addQuestion()">Add question</button>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-primary" md-fab (click)="saveAnswers()">Submit</button>
        </div>
    </div>
  </div>
</div>
