<app-header></app-header>
<div id="survey-holder">
  <div class="card" id="survey-container">
    <div class="container">
      <h1>
        {{survey.name}}
      </h1>
      <p>
        {{survey.details}}
      </p>
        <div class="card" id="question-card" *ngFor="let question of survey.questions; let i = index">
          <div class="card-content">
            <div class="mb-3" id="question-text">
              {{question.text}}
            </div>
            <div *ngFor="let opt of question.options; let j = index">
              <input type="radio" value="{{opt.text}}" id="option" name="for_question{{i+1}}"/>
              <label for="option{{j+1}}">{{opt.text}}</label>
            </div>
          </div>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-primary" md-fab (click)="saveAnswers()">Submit</button>
        </div>
    </div>
  </div>
</div>
