#survey-holder {
  display: flex;
  justify-content: center;
}

#survey-container {
  width: 1000px;
  height: fit-content;
  align-content: center;
  margin-top: 25px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

#question-card {
  padding: 5px 5px 5px 5px;
}

#survey-name {
  width: 700px;
}

#survey-details {
  width: 700px;
}

#surveyLabel {
  margin-bottom: 20px;
}

#nameError {
  color:red;
  margin-bottom: 10px;
}
#detailsError {
  color:red;
  margin-bottom: 10px;
}

#selectError {
  color: red;
  margin-bottom: 10px;
}

#savebtn {
  margin-bottom : 10px;
}

#addOptBtn {
  margin-top: 5px;
  margin-left: 5px;
}

#addQBtn {
  margin-top: 5px;
  margin-left: 5px;
}

#submitError {
  color: red;
}
