<app-header></app-header>
<div id="survey-holder">
  <div class="card" id="survey-container">
    <div class="container">
      <form #form ="ngForm" (ngSubmit)="onSubmit(form)" >
      <h2>
        <input type="hidden" name="surveyId" [value]="service.formData.id" />
        <label>Survey Name</label>
        <input  class="form-control form-control-lg" id="survey-name" name="surveyName" #surveyName="ngModel" placeholder="Survey name"  [(ngModel)]="service.formData.name" required maxlength="15"/>
      </h2>
      <h2>
        <input id="survey-details" class="form-control form-control-lg" name="surveyDetails" #surveyDetails="ngModel" placeholder="Survey details" [(ngModel)]="service.formData.details" required />
      </h2>
      <h2>
        <select id="option-type" #optiontype (change)="service.onSelected(optiontype.value)" class="form-select" aria-label="Choose option type" name="optionType" required >
          <option value="" disabled selected hidden>Choose an option type</option>
          <option value="1">Multiple choice</option>
          <option value="2">One choice only</option>
        </select>
      </h2>
        <div class="card" id="question-card" *ngFor="let question of service.formData.questions; let i = index">
          <div class="form-group">
            <div class="mb-3">
              <input class="col-6 form-control"  placeholder="Question {{i+1}}" id="{{question.id}}" name="{{question.id}}" #Question{{i+1}}="ngModel"  [(ngModel)]="question.text" required/>
            </div>
            <div *ngFor="let option of question.options; let j = index">
              <input class="form-control" placeholder="Option {{j+1}}"  #option{{j+1}}="ngModel" name="{{option.id}}"  [(ngModel)]="option.text"  required/>
            </div>
            <div class="form-control">
              <button type="button" class="btn btn-success" md-fab (click)="question.addOption()">Add option</button>
            </div>
          </div>
        </div>
        <div class="form-control">
          <button type="button" class="btn btn-primary" md-fab (click)="service.formData.addQuestion()">Add question</button>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-success" md-fab>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
