<app-header></app-header>
  <div class="container">
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Survey name</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveyDashboard | slice: (page-1) * pageSize : page * pageSize">
                <td>{{survey.name}}</td>
                <td id="details_col">{{survey.details}}</td>
                <td id="buttons_col">
                  <div id="my_btns" class="btn-group-vertical" role="group" >
                    <button class="btn btn-primary mx-3" routerLink="/email/{{survey.id}}">Send Email</button>
                    <button class="btn btn-info mx-3" routerLink="/results/{{survey.id}}">Results</button>
                    <button class="btn btn-danger mx-3" (click)="onDelete(survey.name, survey.id)" >Delete</button>
                  </div>
                </td>
            </tr>
          </tbody>
      </table>
      <ngb-pagination
      [(page)]="page"
        [pageSize]="pageSize"
          ></ngb-pagination>
</div>
